header{
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #4e4e4e;
    nav{
        i, a{
            font-size: 2rem;
            padding-right: 1rem;
            position: relative;
            &:last-child{
                padding: 0;
            }
        }
        a{
            text-decoration: none;
            color: #4e4e4e;
            position: relative;
            &:hover:after{
                content: "Star on GitHub";
                width: 110px;
            }
        }
        #helpButton:hover:after{
            content: "Help";
            font-family: sans-serif;
        }
        #settingsButton:hover:after{
            content: "Settings";
            font-family: sans-serif;
            font-weight: normal;
        }
    }
}

@keyframes tooltip{
    0%{
        opacity: 0;
        transform: translateY(-5px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}